<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.com.member.mapper.MemberMapper">

	<select id="getUser_Info"
		resultType="org.kPaas.kdi.com.member.vo.MemberVo">
		SELECT * FROM KDI_USER
		<where>usr_id = #{usrId}</where>
	</select>

	<select id="getSameIdCheck" resultType="Integer">
		SELECT count(*) FROM KDI_USER
		<where>usr_id = #{usrId}</where>
	</select>

	<insert id="signupUser"
		parameterType="org.kPaas.kdi.com.member.vo.MemberVo">
		INSERT INTO KDI_USER
		VALUES(#{usrId},#{usrPw},#{usrNm},#{usrPhone},#{usrEmail},'1',current_timestamp(),current_timestamp())
	</insert>

	<insert id="createTable">
		CREATE TABLE `KDI_USER` (
		`USR_ID` VARCHAR2(20) NOT NULL,
		`USR_PW` VARCHAR2(100) NULL,
		`USR_NM` VARCHAR2(20) NULL,
		`USR_PHONE` VARCHAR2(13) NULL,
		`USR_EMAIL` VARCHAR2(100) NULL,
		`USR_GRADE` CHAR(1) NULL,
		`REG_DT` DATE NULL,
		`MOD_DT` DATE NULL,
		PRIMARY KEY	(`USR_ID`)
		)
	</insert>
</mapper>