<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.com.member.mapper.MemberMapper">

	<select id="getUser_Info"
		resultType="org.kPaas.kdi.com.member.dto.MemberVo">
		SELECT * FROM KDI_USER
		<where>usr_id = #{usr_id}</where>
	</select>

	<select id="getSameIdCheck" resultType="Integer">
		SELECT count(*) FROM KDI_USER
		<where>usr_id = #{usr_id}</where>
	</select>

	<insert id="signupUser"
		parameterType="org.kPaas.kdi.com.member.dto.MemberVo">
		INSERT INTO KDI_USER
		VALUES(#{usr_id},#{usr_pw},#{usr_nm},#{usr_phone},#{usr_email},'1',current_timestamp(),current_timestamp())
	</insert>

	<insert id="createTable">
		CREATE TABLE `KDI_USER` (
		`usr_id` varchar2(20) NOT NULL,
		`usr_pw` varchar2(100) NULL,
		`usr_nm` varchar2(20) NULL,
		`usr_phone` varchar2(13) NULL,
		`usr_email` varchar2(100) NULL,
		`usr_grade` char(1) NULL,
		`reg_dt` date NULL,
		`mod_dt` date NULL,
		PRIMARY KEY	(`usr_id`)
		)
	</insert>
</mapper>