<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.main.res.si.mapper.SvcInfoMapper">
	<!-- SVC_TYPE = 1:EAI송신, 2:EAI수신 등 -->
	<insert id="createTable">
		CREATE TABLE `KDI_SVC_INFO` (
		`SVC_ID` VARCHAR2(100) NOT NULL,
		`SVC_NM` VARCHAR2(100) NOT NULL,
		`SVC_TYPE` NUMBER NOT NULL,
		`DS_NM` VARCHAR2(100) NOT NULL,
		`TRNS_PATH_ID` VARCHAR2(100) NOT NULL,
		`REG_ID` VARCHAR2(20) NULL,
		`REG_DT` DATE NULL,
		`MOD_ID` VARCHAR2(20) NULL,
		`MOD_DT` DATE NULL,
		PRIMARY KEY (`SVC_ID`)
		)
	</insert>

	<sql id="getSvcInfoListWhere">
		KDI_SVC_INFO TB1
		<where>
			1=1
			<if test="param.value.svcId != null and param.value.svcId != ''">
				AND TB1.SVC_ID LIKE '%' || #{param.value.svcId} || '%'
			</if>
			<if test="param.value.svcNm != null and param.value.svcNm != ''">
				AND TB1.SVC_NM LIKE '%' || #{param.value.svcNm} || '%'
			</if>
			<if test="param.value.svcType != null and param.value.svcType != ''">
				AND TB1.SVC_TYPE LIKE '%' || #{param.value.svcType} || '%'
			</if>
			<if test="param.value.dsNm != null and param.value.dsNm != ''">
				AND TB1.DS_NM LIKE '%' || #{param.value.dsNm} || '%'
			</if>
			<if test="param.value.trnsPathId != null and param.value.trnsPathId != ''">
				AND TB1.TRNS_PATH_ID LIKE '%' || #{param.value.trnsPathId} || '%'
			</if>
			<if test="param.value.allSearch != null and param.value.allSearch != ''">
				OR TB1.SVC_ID LIKE '%' || #{param.value.svcId} || '%'
				OR TB1.SVC_NM LIKE '%' || #{param.value.svcNm} || '%'
				OR TB1.SVC_TYPE LIKE '%' || #{param.value.svcType} || '%'
				OR TB1.DS_NM LIKE '%' || #{param.value.dsNm} || '%'
				OR TB1.TRNS_PATH_ID LIKE '%' || #{param.value.trnsPathId} || '%'
			</if>
		</where>
	</sql>
	<select id="getListCnt" resultType="Long">
		SELECT
		COUNT(TB1.*)
		FROM
		<include refid="getSvcInfoListWhere" />
	</select>

	<select id="getList" resultType="Map">
		SELECT
		TB1.SVC_ID,
		TB1.SVC_NM,
		TB1.SVC_TYPE,
		TB1.DS_NM,
		TB1.TRNS_PATH_ID
		FROM
		<include refid="getSvcInfoListWhere" />
		ORDER BY TB1.SVC_NM, TB1.SVC_ID, TB1.SVC_TYPE
		LIMIT #{param.pagePerRow}
		OFFSET (#{param.pageNum} - 1) * #{param.pagePerRow}
	</select>

	<insert id="insert">
		INSERT INTO KDI_SVC_INFO
		(
		SVC_ID,
		SVC_NM,
		SVC_TYPE,
		DS_NM,
		TRNS_PATH_ID,
		REG_ID,
		REG_DT
		)
		VALUES
		(
		#{param.value.svcId},
		#{param.value.svcNm},
		#{param.value.svcType},
		#{param.value.dsNm},
		#{param.value.trnsPathId},
		#{param.value.regId},
		current_timestamp()
		)
	</insert>

	<select id="duplicateCheck" resultType="Integer">
		SELECT count(*) FROM KDI_SVC_INFO
		<where>SVC_ID = #{param.value.svcId}</where>
	</select>

	<select id="get" resultType="Map">
		SELECT * FROM KDI_SVC_INFO
		<where>
			SVC_ID = #{param.value.svcId}
		</where>
	</select>

	<update id="modify">
		UPDATE KDI_SVC_INFO
		<set>
			SVC_ID = #{param.value.svcId}
			SVC_NM = #{param.value.svcNm},
			SVC_TYPE = #{param.value.svcType},
			DS_NM = #{param.value.dsNm},
			TRNS_PATH_ID = #{param.value.trnsPathId},
			REG_ID = #{param.value.modifyId},
			REG_DT = current_timestamp()
		</set>
		<where>
			SVC_ID = #{param.value.svcId}
		</where>
	</update>

	<delete id="delete">
		DELETE
		FROM
		KDI_SVC_INFO
		<where>
			SVC_ID = #{param.value.svcId}
		</where>
	</delete>
</mapper>