/*디자인 시스템*/
.header1{font-weight: 700;font-size: 56px;}
.header2{font-weight: 700;font-size: 46px;}
.header3{font-weight: 700;font-size: 40px;}
.header4{font-weight: 700;font-size: 24px;}
.header5{font-weight: 700;font-size: 20px;}
.header6{font-weight: 700;font-size: 18px;}
.header7{font-weight: 700;font-size: 16px;}
.header8{font-weight: 700;font-size: 12px;}
.body1{font-weight: 500;font-size: 18px;}
.body2{font-weight: 500;font-size: 16px;}
.subtitle1{font-weight: 400;font-size: 16px;}
.subtitle2{font-weight: 400;font-size: 12px;}
.primary {color: #336AEA;}
.secondary {color: #054BD6;}
.bg-blue40{background-color: rgba(51, 106, 234, 0.40)}
.bg-blue30{background-color: rgba(51, 106, 234, 0.30)}
.bg-blue10{background-color: rgba(51, 106, 234, 0.10)}
.bg-blue{background-color: #F6F9FF}
.bg-light-blue{background-color: #F8FAFF}
.white100{color: #ffffff}
.white80{color: rgba(255, 255, 255, 0.80)}
.gray500{color: #323232;}
.gray400{color: #545454;}
.gray300{color: #C6C6C6;}
.gray200{color: #F8F8F8;}
.gray100{color: #F5F5F5;}
.flex-row{display: flex; flex-direction: row}
.flex-col{display: flex; flex-direction: column}

/*버튼*/
.button-primary {
    border-radius: 3px;
    padding: 12px 64px;
    background-color: #336AEA;
    font-weight: 600;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.button-primary:hover {
    background-color: #054BD6;
}
.button-second {
    border-radius: 3px;
    padding: 12px 64px;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
    color: #336AEA;
    border: 1px solid #336AEA;
    cursor: pointer;
}
.button-second:hover {
    background-color: rgba(51, 106, 234, 0.1);
}
.button-second-gray {
    border-radius: 3px;
    padding: 12px 64px;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
    color: #545454;
    border: 1px solid #C6C6C6;
    cursor: pointer;
}
.button-second-gray:hover {
    background-color: #FAFAFA;
}

