@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
	font-family: "Noto Sans KR";
}

a {
	color: inherit;
	text-decoration: none;
}

/* header START */
/*header section.title {*/
/*	background: #0077B6;*/
/*}*/

/*header section a.logout {*/
/*	position: absolute;*/
/*	top: 0.5em;*/
/*	right: 0.5em;*/
/*	font-size: 1em;*/
/*}*/

/*header section.title h1 {*/

/*}*/

/*header nav.menuBox {*/
/*	text-align: center;*/
/*}*/

/*header nav.menuBox .menuBar {*/
/*	display: inline-block;*/
/*	text-align: center;*/
/*	width: 18%; */
/*	height: 1.5em;*/
/*	line-height: 1.5em;*/
/*	cursor: pointer;*/
/*	border-left: 1px solid black;*/
/*	font-size: 2em;*/
/*	margin: 0.4em 0.1em 0.4em 0.2em;*/
/*}*/

/*header nav.menuBox .menuBar:first-child {*/
/*	border-left: none;*/
/*}*/

/*header nav.menuBox .menuBar:hover {*/
/*	text-shadow: 2px 2px 2px gray;*/
/*}*/

/* header END */

/* section START */
section.contents {
	background-color: white;
	min-height: 16em;
	padding: 80px 260px;
}

@media (max-width: 1500px) {
	section.contents {
		padding: 80px 130px;
	}
}
@media (max-width: 768px) {
	section.contents {
		padding: 80px 84px;
	}
}
section.contents .sideMenu {
	position: sticky;
	float: left;
	top: 14em;
	width: 18%;
	text-align: center;
}

section.contents .sideMenu div {
	cursor: pointer;
	font-size: 1.3rem;
	padding: 0.3em;
	margin: 0.4em;
	background-color: #90E0EF;
}

section.contents .sideMenu div:hover {
	box-shadow: 2px 2px 2px #03045E;
}

section.contents .mainContent {
	display: flex;
	flex-direction:column;
	/*border: 1px solid red;*/
}

section.contents .mainContent #pageTitle {
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	height: 50px;
	padding: 10px 0 8px 10px;
	border-bottom: 3px double #03045E;
}

section.contents .mainContent .divTitle {
	font-weight: bold;
	margin:0.5rem 0 0.3rem 0;
}

section.contents #saveBtn {
	width: 90px;
	height: 35px;
	border: 0;
	outline: none;
	border-radius: 40px;
	background: linear-gradient(to left, rgb(3, 4, 94), rgb(0, 180, 216));
	color: white;
	letter-spacing: 2px;
	margin: 30px auto 50px auto;
	cursor: pointer;
}

section.contents #saveBtn:hover {
	background: linear-gradient(to left,rgb(0, 180, 216), rgb(3, 4, 94));
}

/*section.contents #regbtn {*/
/*	width:6em;*/
/*	height:2em;*/
/*	margin:1em 0 1em 0;*/
/*	border: none;*/
/*	font-size:1em;*/
/*	text-align:center;*/
/*	letter-spacing: 0.3em;*/
/*	background: #CAF0F8;*/
/*}*/
/*section.contents #regbtn:hover {*/
/*	cursor: pointer;*/
/*	box-shadow: 2px 2px 2px #03045E;*/
/*}*/

/* section END */

/* footer START */
/*footer {*/
/*	background: #03045E;*/
/*	height: 5em;*/
/*	line-height: 4em;*/
/*	text-align: center;*/
/*	color: #CAF0C8;*/
/*}*/
/*footer * {*/
/*	height: 1em;*/
/*}	*/
/* footer END */