<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.main.datasource.mapper.DatasourceMapper">

	<insert id="insertDS" parameterType="org.kPaas.kdi.main.datasource.dto.DatasourceVo">
		INSERT INTO KDI_DATASOURCE
		VALUES(#{ds_nm},#{ds_type},#{ds_driver},#{ds_addr},#{ds_port},#{ds_sid},#{ds_url},#{ds_usr_nm},#{ds_usr_pw},#{reg_id},current_timestamp(),#{mod_id},current_timestamp())
	</insert>

	<insert id="createTable">
		CREATE TABLE `KDI_DATASOURCE` (
			`ds_nm`	varchar2(100)	NOT NULL,
			`ds_type`	varchar2(100)	NULL,
			`ds_driver`	varchar2(100)	NULL,
			`ds_addr`	varchar2(100)	NULL,
			`ds_port`	varchar2(100)	NULL,
			`ds_sid`	varchar2(100)	NULL,
			`ds_url`	varchar2(100)	NULL,
			`ds_usr_nm`	varchar2(100)	NULL,
			`ds_usr_pw`	varchar2(100)	NULL,
			`reg_id`	varchar2(20)	NULL,
			`reg_dt`	date	NULL,
			`mod_id`	varchar2(20)	NULL,
			`mod_dt`	date	NULL,
			PRIMARY KEY	(`ds_nm`)
		)
	</insert>
	
	<select id="selectDsList" resultType="org.kPaas.kdi.main.datasource.dto.DatasourceVo">
		SELECT rownum as NO,* FROM KDI_DATASOURCE
	</select>
	
	<select id="selectDsInfo" parameterType="String" resultType="org.kPaas.kdi.main.datasource.dto.DatasourceVo">
		SELECT * FROM KDI_DATASOURCE 
		<where>
		ds_nm = #{ds_nm}
		</where>
	</select>
	
	<update id="editDS" parameterType="org.kPaas.kdi.main.datasource.dto.DatasourceVo">
		UPDATE KDI_DATASOURCE
		SET ds_addr = #{ds_addr}, ds_port = #{ds_port}, ds_sid = #{ds_sid}, ds_usr_nm = #{ds_usr_nm}, ds_usr_pw = #{ds_usr_pw}
		<where>
		ds_nm = #{ds_nm}
		</where>
	</update>
	
	<delete id="deleteDS" parameterType="String">
		DELETE 
		FROM KDI_DATASOURCE
		<where>
		ds_nm = #{ds_nm}
		</where>
	</delete>
	
</mapper>