<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.main.link.mapper.LinkDetailMapper">
	
	<select id="getLinkService" resultType="org.kPaas.kdi.main.link.vo.LinkServiceVo" parameterType="String">
		SELECT * FROM KDI_LINK_SERVICE
		<where>svc_nm = #{svc_nm}</where>
	</select>
	
	<select id="connectLinkDs" resultType="org.kPaas.kdi.main.datasource.vo.DatasourceVo" parameterType="String">
		SELECT * FROM KDI_DATASOURCE  
 		<where>
 		ds_nm = (
 			SELECT
 				ds_nm
 			FROM
 				KDI_LINK_SERVICE  
 			<where>
 				svc_nm = #{svc_nm}
 			</where>
 		)
 		</where>
	</select>
	
	<select id="getSchema" resultType="String" >
		SELECT
			USERNAME
		FROM
			DBA_USERS
		<where>
			USERNAME NOT IN ('APEX_040200', 'DVF', 'MDDATA', 'LBACSYS','SYS', 'SYSTEM', 'SYSDG', 'SYSBACKUP', 'SYSKM', 'SYSRAC', 'DBSNMP', 'OUTLN', 'AUDSYS', 'GSMADMIN_INTERNAL', 'GSMCATUSER', 'GSMUSER', 'DIP', 'REMOTE_SCHEDULER_AGENT', 'XS$NULL', 'ORACLE_OCM', 'WMSYS', 'APPQOSSYS', 'OJVMSYS', 'ORDDATA', 'ORDPLUGINS', 'ORDSYS', 'SI_INFORMTN_SCHEMA', 'MDSYS', 'CTXSYS', 'ANONYMOUS', 'XDB', 'APEX_040000', 'APEX_050000', 'APEX_060000', 'FLOWS_FILES', 'APEX_PUBLIC_USER', 'SPATIAL_CSW_ADMIN_USR', 'SPATIAL_WFS_ADMIN_USR', 'OLAPSYS', 'EXFSYS', 'BI', 'GSMROOTUSER', 'DVSYS', 'DBSFWUSER', 'ORACLE_SCRIPT', 'APEX_LISTENER', 'APEX_REST_PUBLIC_USER', 'APEX_INSTANCE_ADMIN_USER')
		</where>
		ORDER BY
			USERNAME
	</select>
	<sql id="getLinkTableListWhere">
		    DBA_TABLES TB1,
		    DBA_TAB_COMMENTS TB2
		<where>
		    TB1.OWNER = TB2.OWNER
		    AND TB1.TABLE_NAME = TB2.TABLE_NAME
		    AND TB1.OWNER = #{value.sch_nm}
	    </where>
	</sql>
	<select id="getLinkTableListCnt" resultType="Integer" parameterType="org.kPaas.kdi.com.util.KdiParam">
		SELECT
			COUNT(*)
		FROM
		<include refid="getLinkTableListWhere"/>
	</select>
	<select id="getLinkTableList" resultType="Map" parameterType="org.kPaas.kdi.com.util.KdiParam">
		SELECT
		    TB1.TABLE_NAME AS TB_NM,
		    'Y' AS LINK_YN,
		    TB2.COMMENTS AS TB_COMMENTS
		FROM
		<include refid="getLinkTableListWhere"/>
	    ORDER BY
	    	TB1.TABLE_NAME
	    OFFSET
	    	(#{pageNum} - 1) * #{pagePerRow}
	    ROWS FETCH NEXT #{pagePerRow}
	   	ROWS ONLY
	</select>
</mapper>