<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.com.tool.mapper.DBCheckMapper">
	<select id="isExists" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			INFORMATION_SCHEMA.TABLES
		<where>
			TABLE_NAME = #{tableName}
		</where> 
	</select>
	
	<insert id="createTableKDI_LINK_SERVICE">
		CREATE TABLE `KDI_LINK_SERVICE` (
			`svc_id` varchar2(50) NOT NULL ,
			`ds_nm` varchar2(100) NOT NULL REFERENCES KDI_DATASOURCE(ds_nm) ON DELETE CASCADE,
			`svc_nm` varchar2(100) NOT NULL, <!-- 서비스명화면출력용 -->
			`tp_nm` varchar2(10), <!-- 토픽명 -->
			`svc_type` char(1) NULL,
			`reg_id` varchar2(20) NULL,
			`reg_dt` date NULL,
			`mod_id` varchar2(20) NULL,
			`mod_dt` date NULL,
			PRIMARY KEY (`svc_id`,`ds_nm`)
		)
	</insert>
	
	<insert id="createTableKDI_LINK_DETAIL">
		CREATE TABLE `KDI_LINK_DETAIL` (
			`svc_lnk_id` varchar2(100) NOT NULL,
			`svc_id` varchar2(50) NOT NULL REFERENCES KDI_LINK_SERVICE(svc_id) ON DELETE CASCADE,
			`ds_nm` varchar2(100) NOT NULL REFERENCES KDI_LINK_SERVICE(ds_nm) ON DELETE CASCADE,
			`svc_lnk_nm` varchar2(100) NOT NULL,
			`tbl_nm` varchar2(100) NULL,
			`sch_nm` varchar2(100) NULL,
			`flag_type` char(1) NULL, <!-- 1:status, 2:query, 3:where -->
			`flag_query` varchar2(2000) NULL, <!-- 2:query, 3:where 인 경우 입력받는 쿼리문 -->
			`lnk_time` varchar2(50) NULL, <!-- 쿼츠스케줄 -->
			`reg_id` varchar2(20) NULL,
			`reg_dt` date NULL,
			`mod_id` varchar2(20) NULL,
			`mod_dt` date NULL,
			PRIMARY KEY (`svc_lnk_id`,`svc_id`,`ds_nm`)
		)
	</insert>
	
	<insert id="createTableKDI_LINK_TABLE">
		CREATE TABLE `KDI_LINK_TABLE` (
			`col_nm` varchar2(100) NOT NULL,
			`svc_lnk_id` varchar2(100) NOT NULL REFERENCES KDI_LINK_DETAIL(svc_lnk_id) ON DELETE CASCADE,	
			`svc_id` varchar2(50) NOT NULL REFERENCES KDI_LINK_DETAIL(svc_id) ON DELETE CASCADE,
			`ds_nm` varchar2(100) NOT NULL REFERENCES KDI_LINK_DETAIL(ds_nm) ON DELETE CASCADE,
			`col_type` varchar2(20) NULL, <!-- 컬럼타입: 컬럼 자료형 -->
			`col_lnk_type` char(1) NULL, <!-- Y:사용(연계함), N:미사용(연계안함), O:OP대체컬럼, S:STATUS대체컬럼 -->
			`col_mp_nm` varchar2(100) NULL,
			`reg_id` varchar2(20) NULL,
			`reg_dt` date NULL,
			`mod_id` varchar2(20) NULL,
			`mod_dt` date NULL,
			PRIMARY KEY (`col_nm`,`svc_lnk_id`,`svc_id`,`ds_nm`)
		)
	</insert>
	
</mapper>