<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.main.link.mapper.LinkInterfaceMapper">
	<insert id="createTable">
		CREATE TABLE `KDI_LINK_DETAIL` (
			`svc_lnk_id` varchar2(100) NOT NULL,
			`svc_id` varchar2(100) NOT NULL,
			`ds_nm` varchar2(100) NOT NULL,
			`svc_lnk_nm` varchar2(100) NULL,
			`tbl_nm` varchar2(100) NULL,
			`sch_nm` varchar2(100) NULL,
			`lnk_time` varchar2(50) NULL,
			`flag_type` char(1) NULL,
			`reg_id` varchar2(20) NULL,
			`reg_dt` date NULL,
			`mod_id` varchar2(20) NULL,
			`mod_dt` date NULL,
			PRIMARY KEY (`svc_lnk_id`)
		)
	</insert>
	
	<sql id="getInterfaceListWhere">
			KDI_LINK_DETAIL TB1
		JOIN
			KDI_LINK_SERVICE TB2
		ON
			TB1.SVC_ID = TB2.SVC_ID
		<where>
			TB2.SVC_NM = #{value.svc_nm}
		</where>
	</sql>
	<select id="getInterfaceListCnt" resultType="Long" parameterType="org.kPaas.kdi.com.util.KdiParam">
		SELECT
			COUNT(TB1.SVC_LNK_ID)
		FROM
		<include refid="getInterfaceListWhere" />
	</select>
	
	<select id="getInterfaceList" resultType="Map" parameterType="org.kPaas.kdi.com.util.KdiParam">
		SELECT
			TB1.SVC_LNK_ID,
			TB1.SVC_LNK_NM,
			TB1.SCH_NM,
			TB1.TBL_NM,
			TB1.DS_NM,
			TB1.SVC_ID,
			TB2.SVC_NM
		FROM
		<include refid="getInterfaceListWhere" />
	    LIMIT
	    	#{pagePerRow}
	    OFFSET
	    	(#{pageNum} - 1) * #{pagePerRow}
	</select>

	<insert id="insert" parameterType="Map">
		INSERT INTO KDI_LINK_DETAIL (
			SVC_LNK_ID,
			SVC_ID,
			DS_NM,
			SVC_LNK_NM,
			TBL_NM,
			SCH_NM,
			REG_ID,
			REG_DT
		)
		SELECT
			#{svc_lnk_id} AS SVC_LNK_ID,
			SVC_ID,
			#{ds_nm} AS DS_NM,
			#{svc_lnk_nm} AS SVC_LNK_NM,
			#{tableName} AS TBL_NM,
			#{sch_nm} AS SCH_NM,
			#{reg_id} AS REG_ID,
			current_timestamp() AS REG_DT
		FROM
			KDI_LINK_SERVICE
		<where>
			SVC_NM = #{svc_nm}
		</where>
	</insert>

</mapper>