<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.main.link.mapper.LinkInterfaceMapper">

	<insert id="createTable">
		CREATE TABLE `KDI_LINK_DETAIL` (
			`svc_lnk_id` varchar2(100) NOT NULL,
			`svc_id` varchar2(50) NOT NULL REFERENCES KDI_LINK_SERVICE(svc_id) ON DELETE CASCADE,
			`ds_nm` varchar2(100) NOT NULL REFERENCES KDI_LINK_SERVICE(ds_nm) ON DELETE CASCADE,
			`svc_lnk_nm` varchar2(100) NOT NULL,
			`tbl_nm` varchar2(100) NULL,
			`sch_nm` varchar2(100) NULL,
			`flag_type` char(1) NULL, <!-- 1:status, 2:query, 3:where -->
			`flag_query` varchar2(2000) NULL, <!-- 2:query, 3:where 인 경우 입력받는 쿼리문 -->
			`lnk_time` varchar2(50) NULL, <!-- 쿼츠스케줄 -->
			`reg_id` varchar2(20) NULL,
			`reg_dt` date NULL,
			`mod_id` varchar2(20) NULL,
			`mod_dt` date NULL,
			PRIMARY KEY (`svc_lnk_id`,`svc_id`,`ds_nm`)
		)
	</insert>

	<sql id="getInterfaceListWhere">
			KDI_LINK_DETAIL TB1
		JOIN
			KDI_LINK_SERVICE TB2
		ON
			TB1.SVC_ID = TB2.SVC_ID
		<where>
			TB2.SVC_ID = #{value.svc_id}
		</where>
	</sql>
	
	<select id="getInterfaceListCnt" resultType="Long" parameterType="org.kPaas.kdi.com.util.KdiParam">
		SELECT
			COUNT(TB1.SVC_LNK_ID)
		FROM
		<include refid="getInterfaceListWhere" />
	</select>
	
	<select id="getInterfaceList" resultType="Map" parameterType="org.kPaas.kdi.com.util.KdiParam">
		SELECT
			TB1.SVC_LNK_ID,
			TB1.SVC_LNK_NM,
			TB1.SCH_NM,
			TB1.TBL_NM,
			TB1.DS_NM,
			TB1.SVC_ID,
			TB2.SVC_NM
		FROM
		<include refid="getInterfaceListWhere" />
	    LIMIT
	    	#{pagePerRow}
	    OFFSET
	    	(#{pageNum} - 1) * #{pagePerRow}
	</select>

	<insert id="insertPubInterface" parameterType="Map">
		INSERT INTO KDI_LINK_DETAIL (
			SVC_LNK_ID,
			SVC_ID,
			DS_NM,
			SVC_LNK_NM,
			TBL_NM,
			SCH_NM,
			
			LNK_TIME,
			FLAG_TYPE,
			
			REG_ID,
			REG_DT
		)
		SELECT
			#{svc_lnk_id} AS SVC_LNK_ID,
			SVC_ID,
			#{ds_nm} AS DS_NM,
			#{svc_lnk_nm} AS SVC_LNK_NM,
			#{tableName} AS TBL_NM,
			#{schemaName} AS SCH_NM,
			
			#{lnk_time} AS LNK_TIME,
			#{flag_type} AS FLAG_TYPE,
			
			#{reg_id} AS REG_ID,
			current_timestamp() AS REG_DT
		FROM
			KDI_LINK_SERVICE
		<where>
			SVC_NM = #{svc_nm}
		</where>
	</insert>
	
	<update id="updatePubInterface" parameterType="Map">
		UPDATE KDI_LINK_DETAIL
		<set>
			SVC_LNK_ID = #{svc_lnk_id},
			
			DS_NM = #{ds_nm},
			SVC_LNK_NM = #{svc_lnk_nm},
			TBL_NM = #{tableName},
			SCH_NM = #{schemaName},
			
			LNK_TIME = #{lnk_time},
			FLAG_TYPE = #{flag_type},
			
			MOD_ID = #{mod_id},
			MOD_DT = current_timestamp()
		</set>
		<where>
				SVC_LNK_ID = #{org_svc_lnk_id}
			AND SVC_ID = #{svc_id}
		</where>
	</update>
	
	<select id="selectPubInterface" resultType="Map" parameterType="Map">
		SELECT
			*
		FROM
			KDI_LINK_DETAIL
		<where>
				SVC_LNK_ID = #{org_svc_lnk_id}
			AND SVC_ID = #{svc_id}
		</where>
	</select>
	
	<delete id="deleteInterface" parameterType="Map">
		DELETE
		FROM
			KDI_LINK_DETAIL
		<where>
				SVC_LNK_ID = #{org_svc_lnk_id}
			AND SVC_ID = #{svc_id}
			AND DS_NM = #{ds_nm}
		</where>
	</delete>
</mapper>