<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.main.link.mapper.LinkMapper">

	<insert id="createTable">
		CREATE TABLE `KDI_LINK_SERVICE` (
			`svc_id` bigint NOT NULL AUTO_INCREMENT,
			`ds_nm` varchar2(100) NOT NULL,
			`svc_nm` varchar2(100) NULL,
			`svc_type` char(1) NULL,
			`reg_id` varchar2(20) NULL,
			`reg_dt` date NULL,
			`mod_id` varchar2(20) NULL,
			`mod_dt` date NULL,
			PRIMARY KEY (`svc_id`)
		)
	</insert>	
		
	<select id="selectLinkList" resultType="org.kPaas.kdi.main.link.vo.LinkServiceVo">
		SELECT rownum as NUM,* FROM KDI_LINK_SERVICE
	</select>

	<select id="selectLinkListPage" parameterType="org.kPaas.kdi.main.link.vo.LinkServiceVo" resultType="org.kPaas.kdi.main.link.vo.LinkServiceVo">
		SELECT * FROM(SELECT ROWNUM AS NUM, * FROM KDI_LINK_SERVICE)
			WHERE NUM <![CDATA[>]]> (#{pageNum}-1) * #{amount}
			AND NUM <![CDATA[<=]]> #{pageNum} * #{amount}
			<if test="svc_nm != null">
				AND SVC_NM LIKE '%' || #{svc_nm} || '%';
			</if>
	</select>

	<select id="selectLinkListCount" parameterType="org.kPaas.kdi.main.link.vo.LinkServiceVo" resultType="Integer">
		SELECT count(*) as total FROM(SELECT ROWNUM AS NUM, * FROM KDI_LINK_SERVICE)
		<if test="svc_nm != null">
			WHERE SVC_NM LIKE '%' || #{svc_nm} || '%';
		</if>
	</select>
	
	<!-- 연계서비스 등록 시작 -->
	<select id="selectDsList" resultType="String">
		SELECT ds_nm FROM KDI_DATASOURCE
	</select>
	
	<select id="getSameLinkCheck" resultType="Integer">
		SELECT count(*) FROM KDI_LINK_SERVICE
		<where>svc_nm = #{svc_nm}</where>
	</select>
	
	<insert id="insertLink" parameterType="org.kPaas.kdi.main.link.vo.LinkServiceVo">
		INSERT INTO KDI_LINK_SERVICE(ds_nm,svc_nm,svc_type,reg_id,reg_dt,mod_id,mod_dt)
		VALUES(#{ds_nm},#{svc_nm},#{svc_type},#{reg_id},current_timestamp(),#{mod_id},current_timestamp())
	</insert>

	<select id="getLinkListAll" resultType="org.kPaas.kdi.main.link.vo.LinkServiceVo" fetchSize="50">
		SELECT
		    ROWNUM AS NUM,
		    TB1.*
		FROM
		    KDI_LINK_SERVICE TB1
	</select>
	<sql id="getLinkListWhere">
		KDI_LINK_SERVICE TB1
		<where>
			1=1
			<if test="value.ds_nm != null and value.ds_nm != ''">
				AND TB1.DS_NM LIKE '%' || #{ds_nm} || '%'
			</if>
			<if test="value.svc_nm != null and value.svc_nm != ''">
				AND TB1.SVC_NM LIKE '%' || #{svc_nm} || '%'
			</if>
			<if test="value.svc_type != null and value.svc_type != ''">
				AND TB1.SVC_TYPE LIKE '%' || #{svc_type} || '%'
			</if>
			<if test="value.all_search != null and value.all_search != ''">
				OR TB1.DS_NM   LIKE '%' || #{ds_nm}   || '%'
				OR TB1.SVC_NM LIKE '%' || #{svc_nm} || '%'
				OR TB1.SVC_TYPE LIKE '%' || #{svc_type} || '%'
			</if>
		</where>
	</sql>
	<select id="getLinkListCnt" resultType="Long" parameterType="org.kPaas.kdi.main.link.vo.LinkServiceVo">
		SELECT
			COUNT(TB1.*)
		FROM
		<include refid="getLinkListWhere" />
	</select>

	<select id="getLinkList" resultType="Map" parameterType="org.kPaas.kdi.com.util.KdiParam">
		SELECT
			TB1.SVC_ID,
			TB1.DS_NM,
			TB1.SVC_NM,
			TB1.SVC_TYPE,
			DECODE(TB1.SVC_TYPE,'P','송신','수신') AS SVC_TYPE_NAME
		FROM
		<include refid="getLinkListWhere" />
		ORDER BY
			TB1.REG_DT, TB1.DS_NM
		LIMIT
			#{pagePerRow}
		OFFSET
			(#{pageNum} - 1) * #{pagePerRow}
	</select>
</mapper>