.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 256px;
    background-color: #2D2D2D;
    padding: 0 264px;
    color: white;
}
@media (max-width: 1500px) {
    .footer-wrapper{
        padding: 0 130px;
    }
}
@media (max-width: 768px) {
    .footer-wrapper{
        padding: 0 84px;
    }
}


.footer-main{
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-sub{
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
    font-weight: 500;
    color: #B8B8B8;
}
.footer-info{
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.footer-info p {
    margin-right: 32px;
}
.logo-text{
    font-weight: 600;
    font-size: 18px;
    margin-left: 14px;
}

