.container{
    background-color: white;
}

.img-box{
    width: 100%;
    max-height: 640px;
    overflow: hidden;
}

.img-content{
    height: auto;
    object-fit: fill;
}

.bottom-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 264px;
    background-color: #FAFAFA;
}
.description-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 58px;
}

.description-main-text{
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.description-sub-text{
    font-size: 24px;
    font-weight: 500;
    color: #4E596B;
    text-align: center;
}

.link-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}
.link-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 280px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #E6E6E6;
}
.card-img{
    height: 104px;
    margin-bottom: 24px;
}
.card-text{
    font-size : 20px;
    word-break: break-word;
    text-align: center;
}
/*@media (max-width: 1500px) {*/
/*    .bottom-box{*/
/*        padding: 0 130px;*/
/*    }*/
/*    .link-card{*/
/*        width: 220px;*/
/*        height: 200px;*/
/*    }*/
/*    .card-img{*/
/*        height: 88px;*/
/*    }*/
/*}*/
