@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.login-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: #F5F5F5;
}

.login-logo-box {
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-logo-box img{
    width: 50px;
    height: 50px;
   object-fit: contain;
}
.login-logo-text{
    font-size: 30px;
    font-weight: 500;
    margin-left: 14px;
    letter-spacing: -1.5px;
}

.login-box {
    width: 500px;
    padding: 72px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input-box {
    height: 50px;
    width: 100%;
    padding: 4px 24px;
    display: flex;
    flex-direction: row;
    align-content: center;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: 0;
    margin-bottom: 12px;
}
.login-input-box div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-input-box img{
    width: 24px;
    height: 24px;
    object-fit: none;
}
.login-input {
    border: none;
    width: 100%;
    padding-left: 8px;
    border-radius: 10px;
    background-color: #F5F5F5;
}
.login-input:focus {
    background-color: white;
    border: 1px solid white;
}
.login-form-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login-signup-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}
.login-signup-box a{
    text-decoration: none;
    color: #545454;
}
.login-divided{
    margin: 0 10px;
}
.login-button-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}
.login-button-style {
    border-radius: 10px;
    width: 100%;
    padding: 12px 0;
    background-color: #336AEA;
    font-weight: 600;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border: none;
}
.login-button-style:hover {
    background-color: #054BD6;
}