@charset "UTF-8";

.user-info-content-box{
    margin-bottom: 32px;
}

.user-info-content{
    width: 100%;
    height: 60px;
    padding: 0 24px;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: start;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label-title{
    margin-bottom: 16px;
}
.user-info-button-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 28px;
}
.user-info-button-box input{
    margin-right: 24px;
}