<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.main.res.ds.mapper.DatasourceMapper">

	<select id="getDsListAll" fetchSize="50" resultType="org.kPaas.kdi.main.res.ds.vo.DatasourceVo">
		SELECT
		ROWNUM AS NUM,
		TB1.*
		FROM
		KDI_DATASOURCE TB1
	</select>
	<select id="validationQuery" resultType="String">
		<choose>
			<when test="dsType == 'h2'">select 1</when>
			<when test="dsType == 'mysql'">select 1</when>
			<when test="dsType == 'mariadb'">select 1</when>
			<when test="dsType == 'postgresql'">select 1</when>
			<when test="dsType == 'sybase'">select 1</when>
			<when test="dsType == 'mssql'">select GETDATE()</when>
			<when test="dsType == 'as400'">SELECT current date FROM sysibm.sysdummy1</when>
			<otherwise>select 1 from dual</otherwise>
		</choose>
	</select>

	<insert id="createTable">
		CREATE TABLE `KDI_DATASOURCE` (
		`DS_NM` VARCHAR2(100) NOT NULL,
		`DS_TYPE` VARCHAR2(100) NULL,
		`DS_DRIVER` VARCHAR2(100) NULL,
		`DS_ADDR` VARCHAR2(100) NULL,
		`DS_PORT`
		VARCHAR2(100) NULL,
		`DS_SID` VARCHAR2(100) NULL,
		`DS_URL` VARCHAR2(100) NULL,
		`DS_USR_NM` VARCHAR2(100) NULL,
		`DS_USR_PW` VARCHAR2(100) NULL,
		`REG_ID` VARCHAR2(20) NULL,
		`REG_DT` DATE
		NULL,
		`MOD_ID` VARCHAR2(20) NULL,
		`MOD_DT` DATE NULL,
		PRIMARY KEY (`DS_NM`)
		)
	</insert>
	<sql id="getDsListWhere">
		KDI_DATASOURCE TB1
		<where>
			1=1
			<if test="param.value.dsNm != null and param.value.dsNm != ''">
				AND TB1.DS_NM LIKE '%' || #{param.value.dsNm} || '%'
			</if>
			<if test="param.value.dsType != null and param.value.dsType != ''">
				AND TB1.DS_TYPE LIKE '%' || #{param.value.dsType} || '%'
			</if>
			<if test="param.value.dsAddr != null and param.value.dsAddr != ''">
				AND TB1.DS_ADDR LIKE '%' || #{param.value.dsAddr} || '%'
			</if>
			<if test="param.value.all_search != null and param.value.all_search != ''">
				OR TB1.DS_NM LIKE '%' || #{param.value.dsNm} || '%'
				OR TB1.DS_TYPE LIKE '%' || #{param.value.dsType} || '%'
				OR TB1.DS_ADDR LIKE '%' || #{param.value.dsAddr} || '%'
			</if>
		</where>
	</sql>

	<select id="getListCnt" resultType="Long">
		SELECT
		COUNT(TB1.*)
		FROM
		<include refid="getDsListWhere" />
	</select>

	<select id="getList" resultType="Map">
		SELECT
		TB1.DS_NM,
		TB1.DS_URL
		FROM
		<include refid="getDsListWhere" />
		ORDER BY
		TB1.REG_DT, TB1.DS_NM
		LIMIT
		#{param.pagePerRow}
		OFFSET
		(#{param.pageNum} - 1) * #{param.pagePerRow}
	</select>

	<insert id="insert">
		INSERT INTO KDI_DATASOURCE (
		DS_NM,
		DS_TYPE,
		DS_DRIVER,
		DS_ADDR,
		DS_PORT,
		DS_SID,
		DS_URL,
		DS_USR_NM,
		DS_USR_PW,
		REG_ID,
		REG_DT
		) VALUES (
		#{param.value.dsNm},
		#{param.value.dsType},
		#{param.value.dsDriver},
		#{param.value.dsAddr},
		#{param.value.dsPort},
		#{param.value.dsSid},
		#{param.value.dsUrl},
		#{param.value.dsUsrNm},
		#{param.value.dsUsrPw},
		#{param.value.regId},
		current_timestamp()
		)
	</insert>


	<select id="duplicateCheck" resultType="Integer">
		SELECT count(*) FROM KDI_DATASOURCE
		<where>DS_NM = #{param.value.dsNm}</where>
	</select>

	<select id="get" resultType="Map">
		SELECT * FROM KDI_DATASOURCE
		<where>
			DS_NM = #{param.value.dsNm}
		</where>
	</select>

	<update id="modify">
		UPDATE KDI_DATASOURCE
		<set>
			DS_URL = #{param.value.dsUrl},
			DS_ADDR = #{param.value.dsAddr},
			DS_PORT = #{param.value.dsPort},
			DS_SID = #{param.value.dsSid},
			DS_USR_NM = #{param.value.dsUsrNm},
			DS_USR_PW =
			#{param.value.dsUsrPw},
			MOD_ID = #{param.value.modifyId},
			MOD_DT = current_timestamp()
		</set>
		<where>
			DS_NM = #{param.value.dsNm}
		</where>
	</update>

	<delete id="delete" parameterType="String">
		DELETE
		FROM
		KDI_DATASOURCE
		<where>
			DS_NM = #{param.value.dsNm}
		</where>
	</delete>

	<select id="getAllDsNm" resultType="String" fetchSize="10">
		SELECT DS_NM FROM KDI_DATASOURCE
	</select>
</mapper>