<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kPaas.kdi.main.datasource.mapper.DatasourceMapper">

	<select id="getDsListAll" resultType="org.kPaas.kdi.main.datasource.vo.DatasourceVo" fetchSize="50">
		SELECT
			ROWNUM AS NUM,
			TB1.*
		FROM
			KDI_DATASOURCE TB1
	</select>
	<sql id="getDsListWhere">
		KDI_DATASOURCE TB1
		<where>
			1=1
			<if test="value.ds_nm != null and value.ds_nm != ''">
				AND TB1.DS_NM LIKE '%' || #{value.ds_nm} || '%'
			</if>
			<if test="value.ds_type != null and value.ds_type != ''">
				AND TB1.DS_TYPE LIKE '%' || #{value.ds_type} || '%'
			</if>
			<if test="value.ds_addr != null and value.ds_addr != ''">
				AND TB1.DS_ADDR LIKE '%' || #{value.ds_addr} || '%'
			</if>
			<if test="value.all_search != null and value.all_search != ''">
				OR TB1.DS_NM   LIKE '%' || #{value.ds_nm}   || '%'
				OR TB1.DS_TYPE LIKE '%' || #{value.ds_type} || '%'
				OR TB1.DS_ADDR LIKE '%' || #{value.ds_addr} || '%'
			</if>
		</where>
	</sql>
	<select id="getDsListCnt" resultType="Long" parameterType="org.kPaas.kdi.main.datasource.vo.DatasourceVo">
		SELECT
			COUNT(TB1.*)
		FROM
		<include refid="getDsListWhere" />
	</select>

	<select id="getDsList" resultType="Map" parameterType="org.kPaas.kdi.com.util.KdiParam">
		SELECT
			TB1.DS_NM,
			TB1.DS_URL
		FROM
		<include refid="getDsListWhere" />
		ORDER BY
	    	TB1.REG_DT, TB1.DS_NM
	    LIMIT
	    	#{pagePerRow}
	    OFFSET
	    	(#{pageNum} - 1) * #{pagePerRow}
	</select>

	<insert id="insertDS" parameterType="org.kPaas.kdi.main.datasource.vo.DatasourceVo">
		INSERT INTO KDI_DATASOURCE
		VALUES(#{ds_nm},#{ds_type},#{ds_driver},#{ds_addr},#{ds_port},#{ds_sid},#{ds_url},#{ds_usr_nm},#{ds_usr_pw},#{reg_id},current_timestamp(),#{mod_id},current_timestamp())
	</insert>

	<insert id="createTable">
		CREATE TABLE `KDI_DATASOURCE` (
		`ds_nm` varchar2(100) NOT NULL,
		`ds_type` varchar2(100) NULL,
		`ds_driver` varchar2(100) NULL,
		`ds_addr` varchar2(100) NULL,
		`ds_port`
		varchar2(100) NULL,
		`ds_sid` varchar2(100) NULL,
		`ds_url` varchar2(100) NULL,
		`ds_usr_nm` varchar2(100) NULL,
		`ds_usr_pw` varchar2(100) NULL,
		`reg_id` varchar2(20) NULL,
		`reg_dt` date
		NULL,
		`mod_id` varchar2(20) NULL,
		`mod_dt` date NULL,
		PRIMARY KEY (`ds_nm`)
		)
	</insert>

	<select id="getSameDsCheck" resultType="Integer">
		SELECT count(*) FROM KDI_DATASOURCE
		<where>ds_nm = #{ds_nm}</where>
	</select>

	<select id="selectDsInfo" parameterType="String" resultType="org.kPaas.kdi.main.datasource.vo.DatasourceVo">
		SELECT * FROM KDI_DATASOURCE
		<where>
			ds_nm = #{ds_nm}
		</where>
	</select>

	<update id="editDS" parameterType="org.kPaas.kdi.main.datasource.vo.DatasourceVo">
		UPDATE KDI_DATASOURCE
		<set>
			ds_url = #{ds_url},
			ds_addr = #{ds_addr},
			ds_port = #{ds_port},
			ds_sid = #{ds_sid},
			ds_usr_nm = #{ds_usr_nm},
			ds_usr_pw = #{ds_usr_pw}
		</set>
		<where>
			ds_nm = #{ds_nm}
		</where>
	</update>

	<delete id="deleteDS" parameterType="String">
		DELETE
		FROM
		KDI_DATASOURCE
		<where>
			ds_nm = #{ds_nm}
		</where>
	</delete>
	<select id="validationQuery" resultType="String">
		<choose>
			<when test="ds_type == 'h2'">select 1</when>
			<when test="ds_type == 'mysql'">select 1</when>
			<when test="ds_type == 'mariadb'">select 1</when>
			<when test="ds_type == 'postgresql'">select 1</when>
			<when test="ds_type == 'sybase'">select 1</when>
			<when test="ds_type == 'mssql'">select GETDATE()</when>
			<when test="ds_type == 'as400'">SELECT current date FROM sysibm.sysdummy1</when>
			<otherwise>select 1 from dual</otherwise>
		</choose>
	</select>
</mapper>